In [48]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import requests
import datetime

#  1) Getting the Data

## 1.1) Fear and Greed Index

In [19]:
url =  'https://api.alternative.me/fng/?limit=0'
response = requests.get(url, params={'date_format':'MM/DD/YYYY'}).json()
data = pd.DataFrame(response['data'])

In [22]:
sentiment_score_df = data.drop(columns=['time_until_update', 'value_classification']).set_index('timestamp')

In [104]:
sentiment_score_df

           value
timestamp
02-03-2021    78
01-03-2021    38
28-02-2021    55
27-02-2021    56
26-02-2021    55
...          ...
05-02-2018    11
04-02-2018    24
03-02-2018    40
02-02-2018    15
01-02-2018    30

[1123 rows x 1 columns]

## 1.2) Augmento Topics Count

### Getting topics Indexes:

In [12]:
topics_url = "http://api-dev.augmento.ai/v0.1/topics"
topics_index = requests.get(topics_url).json()

### Getting list of counts of those topics per day (got from 02-01-2018 to 01-31-2021 only)

In [100]:
url_agg = "http://api-dev.augmento.ai/v0.1/events/aggregated"
params = {
  "source" : "twitter",
  "coin" : "bitcoin",
  "bin_size" : "24H",
  "count_ptr" : 1000,
  "start_ptr" : 0,
  "start_datetime" : "2018-02-01T00:00:00Z",
  "end_datetime" : "2020-04-30T00:00:00Z",
}
data_2 = requests.get(url_agg, params=params).json()
topics_count_df_1 = pd.DataFrame(data_2).drop(columns=['t_epoch'])
topics_count_df_1['datetime'] = pd.to_datetime(topics_count_df_1['datetime']).dt.date
topics_count_df_1 = topics_count_df_1.set_index('datetime')

In [101]:
url_agg = "http://api-dev.augmento.ai/v0.1/events/aggregated"
params_2 = {
  "source" : "twitter",
  "coin" : "bitcoin",
  "bin_size" : "24H",
  "count_ptr" : 500,
  "start_ptr" : 0,
  "start_datetime" : "2020-04-29T00:00:00Z",
  "end_datetime" : "2021-03-02T00:00:00Z",
}
data_3 = requests.get(url_agg, params=params_2).json()
topics_count_df_2 = pd.DataFrame(data_3).drop(columns=['t_epoch'])
topics_count_df_2['datetime'] = pd.to_datetime(topics_count_df_2['datetime']).dt.date
topics_count_df_2 = topics_count_df_2.set_index('datetime')

In [102]:
topics_count_df = pd.concat([topics_count_df_1,topics_count_df_2])

In [103]:
topics_count_df

                                                       counts
datetime
2018-02-01  [19, 35, 53, 179, 26, 44, 22, 5, 22, 83, 22, 4...
2018-02-02  [30, 42, 51, 173, 43, 29, 28, 12, 21, 144, 35,...
2018-02-03  [11, 20, 91, 91, 12, 70, 10, 16, 20, 48, 25, 3...
2018-02-04  [13, 22, 86, 87, 12, 45, 21, 4, 19, 46, 28, 36...
2018-02-05  [14, 35, 180, 155, 21, 35, 39, 3, 16, 143, 23,...
...                                                       ...
2021-01-27  [6, 8, 50, 71, 24, 16, 17, 21, 5, 29, 60, 20, ...
2021-01-28  [0, 15, 44, 74, 41, 61, 18, 10, 9, 27, 64, 8, ...
2021-01-29  [4, 23, 37, 111, 35, 43, 39, 8, 16, 23, 72, 36...
2021-01-30  [1, 13, 23, 43, 18, 20, 13, 1, 3, 7, 24, 7, 17...
2021-01-31  [4, 8, 20, 37, 17, 29, 15, 0, 4, 7, 19, 12, 18...

[1097 rows x 1 columns]

### need to repeat this step until we get data from: 02-01-2018 to 03-02-2021